{% extends 'base.html' %}

{% load static %}

{% block title %}
Terms and Conditions | Web Shop
{% endblock %}

{% block body %}


<br><br><br>


<div class="tc" style=" width: 100%; height: 800px; padding: 2px; font-family: 'Montserrat', sans-serif;">
    <center><p>Terms and Conditions</p></center>
    <div style="border:2px solid black; width: 75%; height:700px; overflow:auto; margin-left:220px;">
        <pre style="font-family: 'Montserrat', sans-serif; font-size:medium;">
            <br>
            These Terms and Conditions of Use (the "Agreement") govern your access to and use of the 
            Web Shop website (the "Site"), as well as any products, services, features, content,
            applications or other offerings made available by Web Shop (collectively, the "Services"). By 
            accessing or using the Site or Services, you agree to be bound by this Agreement, whether or 
            not you have read it.<br><br>
            1.  Agreement to Terms. By using the Site or Services, you agree to be bound by these Terms and
                Conditions, as they may be amended by Web Shop from time to time, without notice to you. If 
                you do not agree to these Terms and Conditions, do not use the Site or Services.

            2.  Use of the Site and Services. You may use the Site and Services for lawful purposes only. 
                You may not use the Site or Services to transmit, distribute, store, or destroy material that is (a) 
                libelous, defamatory, obscene, threatening, or otherwise illegal; (b) in violation of any third-party
                right, including any copyright, trademark, patent, trade secret, or other intellectual property or 
                proprietary right; (c) violates any law or regulation; or (d) otherwise offensive or objectionable 
                to Web Shop in its sole discretion.

            3.  Account Registration. In order to access certain features of the Site or Services, you may be required 
                to create an account. You agree to provide accurate, current, and complete information during the registration 
                process and to update such information as necessary to keep it accurate, current, and complete.

            4.  Privacy Policy. Your use of the Site and Services is subject to the terms of Web Shop's Privacy Policy, which 
                is incorporated into this Agreement by reference. Please review the Privacy Policy carefully.

            5.  Intellectual Property. The Site and Services, including without limitation the Web Shop logo and all designs, 
                text, graphics, pictures, information, data, software, sound files, other files and the selection and 
                arrangement thereof (collectively, the "Content") are the proprietary property of Web Shop or its licensors 
                and are protected by U.S. and international copyright laws.

            6.  Payment and Shipping. Payment for any products or services purchased on the Site must be made in U.S. dollars. 
                Web Shop accepts payment by credit card or other payment method specified on the Site. Shipping charges, 
                if any, will be specified at the time of purchase.

            7.  Return Policy. Web Shop accepts returns of merchandise within 30 days of the date of purchase. 
                Please see the Web Shop website for details.

            8.  Disclaimer of Warranties. THE SITE AND SERVICES ARE PROVIDED "AS IS" AND WITHOUT WARRANTY OF ANY KIND. 
                WEB SHOP DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF 
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WEB SHOP DOES NOT WARRANT THAT THE 
                SITE OR SERVICES WILL MEET YOUR REQUIREMENTS OR THAT THE OPERATION OF THE SITE OR SERVICES WILL BE UNINTERRUPTED 
                OR ERROR-FREE.

            9.  Limitation of Liability. IN NO EVENT SHALL WEB SHOP BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, 
                OR PUNITIVE DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT, INCLUDING WITHOUT LIMITATION DAMAGES FOR 
                LOSS OF PROFITS, LOSS OF DATA, BUSINESS INTERRUPTION, OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, WHETHER IN CONTRACT, 
                TORT, STRICT LIABILITY, OR OTHERWISE, EVEN IF WEB SHOP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

            10. Indemnification. You agree to indemnify and hold Web Shop and its affiliates, officers, agents, and employees harmless 
                from any claim or demand, including reasonable attorneys' fees, made by any third-party due to or arising out of your breach 
                of this Agreement



        </pre>
        
    </div>
    
</div>
<br><br><br>
{% endblock %}