asgiref==3.3.1
distlib==0.3.6
Django==3.1.4
filelock==3.9.0
pbr==5.11.1
Pillow==9.4.0
platformdirs==3.0.0
psycopg2==2.9.5
pytz==2020.4
sqlparse==0.4.1
stevedore==5.0.0
virtualenv==20.19.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7